@tailwind base;
@tailwind components;
@tailwind utilities;

.herosection {
  background: linear-gradient(rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.704)),
    url("../public/hero-image.jpg");
  height: 80vh;
  background-size: cover;
  background-position: center center;
}
.featured_product {
  background: linear-gradient(rgba(0, 0, 0, 0.655), rgba(0, 0, 0, 0.704)),
    url("../public/hero-image.jpg");
  background-size: cover;
  background-position: center center;
}
.descrip {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  max-width: 600px;
}
